@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans+Condensed:300|Oswald&display=swap');

/************** BASE **************/

body {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: x-large;
	color: #333333;
	line-height: 1.5em;
}

h1, h2, h3 {
	font-family: 'Amatic SC', cursive;
	letter-spacing: 0.15em;
	color: black;
	margin-bottom: 0;
}

h1 + p { margin-top: 0.5em; }

a {
	display: block;
	padding: 0 10px;
	text-decoration: none;
	color: black;
}


a:hover { color: gray; }

a:hover img { opacity: 0.7; }

a:active {background-color: black;
	color: white;
}

ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
	text-indent: -20px;
	margin-left: 20px;
}

/************** LAYOUT **************/
.container {
	margin: 25px auto;
	width: 90%;
	max-width: 960px;

	display: grid;
	grid-template-columns: 260px 1fr 200px;
}

@media ( max-width: 375px ) {
	.container { display: block; }
}

main { grid-column: 1 / 4; }

header { 
 	grid-column:  1 / 2;
 	grid-row: 1 / 3;
}

nav {
 	grid-column: 2 / 4;
 	grid-row: 4 / 5;
}

footer { grid-column: 1 / 2; }

@media ( max-width: 375px ) {
	footer { margin-bottom: 15px; }
}


/************** HEADER **************/
header a { 
	display: block;
	position: relative; 
}
header h1 {
    margin: 0;
    transform: rotate(-90deg);
    font-size: 1.66em;
    position: absolute;
    top: 80px;
    left: -100px;
}
header img {
    position: relative;
    left: 40px;
}

/************** ASIDE **************/
aside {
	grid-column: 2 / 3;
	grid-row: 1 / 3;
	align-self: end;
	font-style: italic;
	margin-left:20px; 

}

aside ul { margin-right: 35px; 
margin-left: 0;}

/************** FOOTER **************/
footer {
	font-family: 'Oswald', sans-serif;
	font-size: large;
	color: black;
	line-height: 1.2em;
}

/************** NAV **************/
nav ul {
	text-indent: 0;
	margin-left: 0;
}

nav ul { 
	display: flex; 
	justify-content: flex-end;
}

nav li { 
	margin-left: 20px;
}
@media ( max-width: 375px ) {
	nav ul { 
		display: block; 
	}
	nav li { margin-left: 0; }
}


/************** STATE **************/

nav ul li a.is-current {
	background-color: black;
	color: white;
}

